/*GENERAL*/

body {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  margin: 0;
}

button:focus {
  outline:0;
}

/*TOP SECTION*/

.top-box {
  background-color: #e5f3f2;
}

header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 25%;
}

h1{
  color: #6d6e71;
  font-size: 275%;
  margin-bottom:  30px;
}

.idea {
  color: #00a79d;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 45%;
}

input {
  display: flex;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

.save-btn {
  background-color: #00a79d;
  border: none;
  color: #fff;
  display: block;
  font-size: 120%;
}

.save-btn:hover,
.show-completed-button:hover {
  background-color: #045e55;
}

.counter {
  bottom: 18px;
  color: #939598;
  margin: 0;
  position: relative;
  left: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: .8em;
}

.red {
  color: red;
}

/*CARD SECTION*/

.show-completed-button {
  background: #00a79d;
  border: 0;
  color: white;
}

.search-input-container {
  width: 45%;
  margin: 30px auto 20px auto;
  display: flex;
}

#search-input {
  width: 100%
}

.card-container {
  color: #939598;
  margin: auto;
  position: relative;
  width: 45%;
}

h2 {
  color: #6d6e71; 
  display: inline-block;
  font-size: 140%;
  margin-bottom: 0;
}

.quality {
  display: inline-block;
  margin-left: 3%;
  margin-bottom: 0;
  padding-bottom: 10px;
  position: relative;
  bottom: 5px;
}

hr {
  margin-top: 10px;
}

.btn-div {
  display: flex;
  margin-top: 3%;
}

.card-btn {
  background-color: transparent;
  background-size: cover;
  border: none;
  height: 25px;
  width: 25px;
}

.completed-button {
  background-color: #e5f3f2;
  border-color:  #00a79d;
  color: #6d6e71;
  float: right;
  position: relative;
  top: 17px;
}

.completed-button:hover {
  background-color: #00a79d;
  border-color: #e5f3f2;
  color: #e5f3f2
}

.upvote {
  background-image: url(./images/upvote.svg);
}

.upvote:hover {
  background-image: url(./images/upvote-hover.svg);

}

.downvote {
  background-image: url(./images/downvote.svg);
  margin-left: 3%; 
}

.downvote:hover {
  background-image: url(./images/downvote-hover.svg);
}

.delete-button {
  background-image: url(./images/delete.svg);
  position: absolute;
  right: 10px;
  top: 15px;
}

.delete-button:hover {
  background-image: url(./images/delete-hover.svg);
}

.completed {
  opacity: .5;
}

.completed h2,
.completed p {
  text-decoration: line-through;
}

.completed .completed-button {
  background-color: #00a79d;
  border-color: #e5f3f2;
  color: #e5f3f2
}

@media(max-width: 640px){
  form,
  .search-input-container,  
  .card-container {
      width: 85%;
    }
}

